.main-wrapper-login {
    display: flex ;
    flex-direction: column !important;
    height: 100vh !important;
    .Login-wrapper {
        background-color: #fff !important;
        max-width: 750px !important;
        padding: 60px 100px 100px !important;
        margin: auto !important;
    }
    .input-login-control {  
        height: 50px !important;
        padding-left: 30px !important;
        color: #a7a7a7 !important;
        background: #FFFFFF !important;
       border: 1px solid #a7a7a7 !important;
       border-radius: 10px !important;
    }
    .input-login-control:focus{
        outline: none !important;
        box-shadow: none !important;
        border-color: #a00e0e !important;
    }
    .input-login-control::placeholder{
        color: #a7a7a7 !important;
    }
    .remember-me span {
        font-size: 15px !important;
        color: #161616 !important;
        font-weight: 500 !important;
    }
    .link-forgot {
        font-size: 15px !important;
        text-decoration: none !important;
        color: #161616 !important;
        font-weight: 500 !important;
        cursor: pointer !important;
    }
    .link-forgot:hover{
        color: #161616 !important;
    }
    .btn-login {
        background-color: #b50f0f !important;
        width: 100% !important;
        border-radius: 30px !important;
        color: #fff !important;
        font-size: 15px !important;
        font-weight: 700 !important;
        padding: 10px 10px !important;
    }
    .btn-login:hover{
        color: #fff !important;
    }
}

.invalid-feedback {
    text-align: left !important;
    margin: 5px 0 0 10px !important;
  }

  .login_with_pass{
    border-right: 1px solid #bfbfbf;
    padding-right: 25px;
  }

  .login_with_pass{
    border-right: none;
    border-bottom: 1px solid #bfbfbf;
    padding-right: 0;
    padding-bottom: 25px;
  }

  .form-group {
    position: relative;
    margin: 15px 0;
    .form-control {
      background-color: #f7f8fc;
      color: #a0a7b9;
      border-radius: 10px;
      border-color: #c2d4da;
      padding-right: 35px;
      min-height: 40px;
      &:focus {
        border-color: #919191;
      }
      &::placeholder{
        color: #a0a7b9;
      }
    }
    span {
      position: absolute;
      top: 40%;
      right: 15px;
      transform: translateY(-40%);
      color: #676767;
    }
  }