.logoutbutton{
    .logButton{
      height: 45px;
      width: 45px;
      margin-right: 50px;
      margin-left: 40px;
      border-radius: 50%;
      border-color: #9D9D9D;
    background-color: white;
    box-shadow: none !important;
  
      
    }
  }

  .pop {
    color: rgb(228, 10, 10);
  }